<div class="text-center">
  <h2>Categories</h2>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4">
  {% for category in categories %}
    <div class="card">
      <img src="{{ category.image.url }}"
           class="card-img-top"
           alt="{{ category.name }}"/>
      <div class="card-body">
        <h5 class="card-title">{{ category.name }}</h5>
        <p class="card-text">{{ category.description }}</p>
        <a href="{{ category.get_absolute_url }}" class="btn btn-primary">View Category</a
          >
        </div>
      </div>
    {% endfor %}
  </div>
