<div>
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a href="{% url "main:home" %}" class="nav-link px-2">Home</a>
    </li>
    <li class="nav-item">
      <a href="{% url "main:food_stand_list" %}" class="nav-link px-2">Food Stands</a>
    </li>
    <li class="nav-item">
      <a href="{% url "main:contact" %}" class="nav-link px-2">Contact US</a>
    </li>
    <li class="nav-item">
      <a href="{% url "main:about" %}" class="nav-link px-2">About</a>
    </li>
  </ul>
  <p class="text-center">© 2023 Daniel G. Dorohov. Build by Miner for Miners</p>
</div>
